/* TAILWIND */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* FONTS */
@import './fontface.css';

/* CRUFT */
@import './yasgui-cruft.css';

a {
  @apply underline text-blue-600 hover:text-blue-800;
}

a:visited {
  @apply text-purple-600;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

* {
  font-family: 'Manrope', sans-serif;
}

body {
  background: rgb(255, 255, 255);
}

p,
p ~ :not(p),
:not(p) ~ p {
  margin-bottom: 27px;
}

:not(pre) > code {
  background: rgba(135,131,120,0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 16px;

}

pre {
  background: rgb(247, 246, 243);
  border-radius: 3px;
  padding: 32px;
}

ul:not([class]) {
  @apply list-disc;
}

ul:not([class]) > li:not([class]) {
  @apply list-item;
}
