<div
  {{did-insert this.create}}
  {{!-- {{did-update this.updateYasguiCssClasses this.yasguiCssClasses}} --}}
  {{!-- {{did-update this.updateYasqeCssClasses this.yasqeCssClasses}} --}}
  {{!-- {{did-update this.updateYasrCssClasses this.yasrCssClasses}} --}}
>
</div>