<header>
  <h2>Query Types</h2>
</header>

<p>
  Now that we know how our data is modelled, let's take a look at what ways we
  have to query it. SPARQL provides four types of queries to ask questions about
  our data:
</p>

<ul>
  <li><code>SELECT</code></li>
  <li><code>ASK</code></li>
  <li><code>CONSTRUCT</code></li>
  <li><code>DESCRIBE</code></li>
</ul>

<p>
  SPARQL syntax is much like the Turtle syntax we saw before. We can define
  prefixes, to shorten our queries to remove repetition of the URIs, and our
  queries will be built around triples. We'll go over each type of query in
  detail, along with some exercises, further below.
</p>

<section>
  <Sections::Query::Select />
</section>

<section>
  <Sections::Query::Ask />
</section>

<section>
  <Sections::Query::Construct />
</section>

<section>
  <Sections::Query::Describe />
</section>