{{page-title 'FrontendSparqlInteractiveTutorial'}}

<div class='p-8 h-screen'>
  <div class='mx-auto mb-4 w-100 xl:w-1/2'>
    <div class='flex flex-col items-center'>
      <article>

        <header>
          <h1>SPARQLing </h1>
          <p class='italic'>It's only RDF if it comes from the Open Data region
            of the Web, otherwise it's just sparkling data</p>
        </header>

        <section>
          <header>
            <h2>Introduction</h2>
          </header>
          <p>One of the backbone technologies we use at
            <a href='https://redpencil.io/'>redpencil.io</a>
            is SPARQL, a W3C standard designed for querying RDF graphs. It is
            the main way in which we interact with data, and we firmly believe
            that having a good grasp of how it works, whether you are a
            technical person or not, will be very helpful! For that reason,
            we've written this tutorial to guide you through SPARQL, it's
            syntax, subtleties, and everything in between.</p>

        </section>

        <section>
          <header>
            <h2>Setup</h2>
          </header>
          <p>
            This tutorial is fully interactive from your web browser. We use
            <a href='https://triply.cc/docs/yasgui'>Yasgui</a>
            to interact with our SPARQL data, each exercise has an embedded
            console you can use to query our data. The code for this tutorial is
            hosted
            <a>here</a>, so if you prefer you can run it on your own machine.
          </p>
        </section>

        <section>
          <header>
            <h2>References</h2>
          </header>
          <p>
            This tutorial is in large part based upon a number of slide decks
            available
            <a>here</a>. If you want more in-depth information about SPARQL, we
            highly recommend the following resources:

            <ul>
              <li>The
                <a>SPARQL 1.1 W3C specification</a>. This document defines the
                syntax, semantics and features of SPARQL</li>
              <li><a
                  href='https://www.w3.org/2004/Talks/17Dec-sparql/intro/all.html'
                >Introduction to RDF Query with SPARQL. Part 1 - Introduction</a></li>
              <li><a>Learning SPARQL book</a></li>
            </ul>
          </p>
        </section>

        <section>
          <Sections::Rdf />
        </section>

        <section>
          <Sections::Query />
        </section>

        <section>
          <Sections::Update />
        </section>

        <section>
          <Sections::PropertyPaths />
        </section>

        <section>
          <Sections::Optional />
        </section>

        <section>
          <Sections::Filtering />
        </section>

        <section>
          <Sections::Modifiers />
        </section>

        {{outlet}}

      </article>
    </div>
  </div>
</div>